review/
diff-*
reference
/.DS_Store
/code/.Rhistory
/.Rhistory
/draft/_region_.log
/draft/_region_.prv/tmp5855kH/pr1-2.png
/draft/_region_.prv/tmp5855kH/pr1-3.png
/draft/_region_.prv/tmp5855kH/pr1-4.png
/draft/_region_.prv/tmp5856Xm/pr1-1.png
/draft/_region_.prv/tmp585GvN/pr1-1.png
/draft/_region_.prv/tmp585His/pr1-1.png
/draft/_region_.prv/tmp585His/pr1-10.png
/draft/_region_.prv/tmp585His/pr1-11.png
/draft/_region_.prv/tmp585His/pr1-12.png
/draft/_region_.prv/tmp585His/pr1-2.png
/draft/_region_.prv/tmp585His/pr1-3.png
/draft/_region_.prv/tmp585His/pr1-4.png
/draft/_region_.prv/tmp585His/pr1-5.png
/draft/_region_.prv/tmp585His/pr1-6.png
/draft/_region_.prv/*
/draft/_region_.tex
/draft/auto/*
*.log
*.aux
*.out
/draft/prv_qrmissing.log
/draft/qrmissing.aux
/draft/qrmissing.log
/draft/qrmissing.out
/code/UniMLESigma.o
/code/UniMLESigma.so
/code/invcdfnorm.o
/code/BiMLESigma.o
/code/BiMLESigma.so
/code/auto/testbimlesigma.el
/draft/_region_.pdf
/code/test.R
/code/test.f
/code/test.py
/code/figure/minimal-mnar.pdf
/code/figure/minimal-qlmar1.pdf
/code/figure/minimal-qlmar2.pdf
/code/figure/minimal-scatter1.pdf
/code/figure/minimal-scatter2.pdf
*.o
*.so
/draft/.DS_Store
/draft/*.aux
/draft/*.log
/draft/*.bbl
/draft/*.blg
/code/BiMLESigma.R.back
/code/BiMLESigma.f.back
/code/BiMLESigma.noheter2
/code/BiMLESigmaH2.f.back
/code/Rplots.pdf
/code/UniMLESigma.back
/code/a.f
04*
05*
code/test*
/draft/qrmissingpaper-0603.pdf
/draft/qrmissingpaper.org
draft/*.dvi
/draft/sp.pdf
/draft/sp.tex
/image/bi1.png
/image/bi2.png
/image/bi2N.png
/image/bih2.png
/image/bih21.png
/image/bih22.png
/image/mle1.png
/image/mle2.png
/tours/Rplots.pdf
/tours/toursbootage.txt
/tours/*.txt
/tours/*.pdf
/code/*.txt
/code/UniMLESigmaHeter1.R
/code/*.RData
/tours/analysis.R
/code/simheter2.R
/code/*-ex.R
/code/test*
/qr-missing-reference.bib
/diff.pdf
/draft/preamble.tex
/draft/sim-lp-3-ex.pdf
/draft/sim-lp-3-ex.tex
/draft/sim-lp-mnar.pdf
/draft/sim-lp-mnar.tex
/draft/sim-normal-mnar.pdf
/draft/sim-normal-mnar.tex
/draft/sim-t-mnar.pdf
/draft/sim-t-mnar.tex
/draft/simulation-bottai.pdf
/draft/simulation-bottai.tex
/draft/simulation-lp.pdf
/draft/simulation-lp.tex
/draft/simulation-t3.pdf
/draft/simulation-t3.tex
/draft/simulation.pdf
/draft/simulation.tex
/draft/tours-mnar.tex
/draft/tours.pdf
/draft/tours.tex
/qr-intro.org
/draft/simulation-t.pdf
/draft/simulation-t.tex
/agenda.org.bak
/agenda.org
/diff-0719.pdf
/image/toursmargof.pdf
/image/lpmargof.pdf
/image/normalmargof.pdf
/image/tmargof.pdf
/tours/.Rhistory
/image/GoF.pdf
/draft/supply.pdf
/draft/0807.org
/draft/Updates on Computation.docx
/code/optimize.c
/code/zeroin.c
/image/test.pdf
/draft/qrmissingpaper.ttt
/draft/qrmissingenar.ttt
/draft/CLAS-application.pdf
/draft/CLAS-application.tex
/draft/qrmissingenar.fff
/draft/qrmissingenar-bayes.tex
/code/QRMissingBiBayes-backup.R
/draft/qrmissing-diff-0123.pdf
/draft/qrmissing-diff-0201.pdf
/draft/qrmissing-diff-0204.pdf
/draft/qrmissingenar-ki_02122014.tex
/draft/qrmissing-ki-web.fff
/draft/qrmissingenar-ki_0217.tex
/draft/qrmissing-diff-0214.pdf
/draft/qrmissing-diff-0217.pdf
/draft/qrmissingenar-ki.tex.bak
/draft/qrmissingenar-ki_0220.tex
/draft/qrmissingenar-ki.fff
/code/out
/auto/diff.el
/draft/diff.tex
/draft/diff.ttt
/draft/diff-0828.pdf
